body {
    background-image: url("../images/sushi-background.avif");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}

.Grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.home-title {
    background-color: white;
    width: 50%;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(40 39 39);
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    flex-direction: column;
    opacity: 0.9;
}