body {
    background-image: url("../images/sushi-background.avif");
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: contain;
}

.Grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}