.sushi-container {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sushi-card {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 600px;
    height: 600px;
    padding: 15px;
    border-color: black;
    border: solid;
    background-color: white;
    box-shadow: 10px 5px 5px rgb(40, 39, 39);
}

.sushi-img {
    height: 100%;
    box-shadow: 10px 10px 10px rgb(40 39 39);
    width: 80%;
    max-width: 320px;
    border-radius: 50%;
}